@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
@keyframes flip-half {
  100% {
    transform: rotateX(90deg);
    transform-origin: 100% 100%;
  }
}
@keyframes flip-complete {
  100% {
    transform: rotateX(180deg);
    transform-origin: 0% 0%;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
}

body,
html {
  margin: 0;
}

body {
  background: hsl(235, 16%, 14%) url("../images/bg-stars.svg");
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
  padding-bottom: 25vh;
  overflow: auto;
}

header {
  padding: 7rem 5rem 5rem 6rem;
  text-align: center;
}
header h1 {
  color: white;
  font-weight: 700;
  letter-spacing: 0.6rem;
  font-size: 1.2rem;
}

main {
  text-align: center;
  margin: 0;
}

.cards-container {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}
.card-container p.label {
  font-size: 14px;
  color: hsl(237, 18%, 59%);
  font-weight: 700;
  letter-spacing: 0.6rem;
  margin-top: 2rem;
}

.card {
  display: inline-flex;
  flex-direction: column;
  height: 9.2rem;
  width: 9.5rem;
  text-align: center;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 15px 0px -2px rgb(25, 26, 36);
  margin: auto 1rem;
}
.card .card-up-back,
.card .card-up-front,
.card .card-down-back,
.card .card-down-front {
  background: white;
  padding: 1.6rem 2.1rem;
  width: 100%;
  font-size: 4.5rem;
  display: flex;
  height: 50%;
  overflow: hidden;
  color: hsl(345, 95%, 68%);
  text-align: center;
}
.card .card-up-back,
.card .card-up-front {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  background: rgb(44, 44, 68);
}
.card .card-down-back,
.card .card-down-front {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
  background: hsl(236, 21%, 26%);
}
.card .card-up-front {
  position: absolute;
  top: 0;
  left: 0;
}
.card .card-down-front {
  position: absolute;
  bottom: 0;
  left: 0;
}
.card .left-corner {
  position: absolute;
  top: 50%;
  background: hsl(234, 17%, 12%);
  padding: 0.5rem 0.25rem;
  border-radius: 0% 100% 100% 0%/100% 48% 52% 0%;
  transform: translateY(-50%);
  left: 0;
  z-index: 1;
}
.card .right-corner {
  position: absolute;
  top: 50%;
  background: hsl(234, 17%, 12%);
  padding: 0.5rem 0.25rem;
  border-radius: 100% 0% 0% 100%/47% 0% 100% 53%;
  transform: translateY(-50%);
  right: 0;
  z-index: 1;
}
.card .card-up-front {
  transform: rotateX(0deg);
  transform-origin: 100% 100%;
  animation: flip-half 250ms ease-in;
}
.card .card-down-front {
  transform: rotateX(90deg);
  transform-origin: 0% 0%;
  animation: flip-complete 250ms ease-out 250ms;
}

footer {
  background: url("../images/pattern-hills.svg") no-repeat top;
  background-size: cover;
  width: 100%;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 22vh;
  text-align: center;
  padding-top: 12vh;
}
footer .social {
  padding: 1rem;
}
footer .social:hover {
  filter: invert(98%) sepia(100%) saturate(9%) hue-rotate(188deg) brightness(102%) contrast(108%);
  cursor: pointer;
}

@media screen and (max-width: 1200px) and (min-width: 1001px) {
  header {
    padding: 4rem;
  }
}
@media screen and (max-width: 1000px) and (min-width: 901px) {
  header {
    padding: 5rem;
  }
  header h1 {
    font-size: 1rem;
  }
  footer {
    height: 18vh;
    padding-top: 9vh;
  }
}
@media screen and (max-width: 900px) {
  .card {
    height: 8.3rem;
    width: 8.3rem;
  }
  .card .card-up-back,
  .card .card-up-front,
  .card .card-down-back,
  .card .card-down-front {
    padding: 1.5rem 2rem;
    font-size: 4rem;
  }
}
@media screen and (max-width: 700px) {
  header {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
  footer {
    height: 18vh;
    padding-top: 9vh;
  }
  .card-container p.label {
    font-size: 12px;
    letter-spacing: 0.2rem;
    margin-top: 1.5rem;
  }
  .card {
    height: 7rem;
    width: 7rem;
    border-radius: 5px;
    box-shadow: 0px 8px 0px -2px rgb(25, 26, 36);
  }
  .card .card-up-back,
  .card .card-up-front,
  .card .card-down-back,
  .card .card-down-front {
    padding: 1rem 1.2rem;
    font-size: 3rem;
  }
}
@media screen and (max-width: 550px) {
  .card {
    height: 7rem;
    width: 6rem;
  }
  .card .card-up-back,
  .card .card-up-front,
  .card .card-down-back,
  .card .card-down-front {
    padding: 1rem 1.2rem;
    font-size: 3rem;
  }
  footer {
    height: 20vh;
    padding-top: 10vh;
  }
}/*# sourceMappingURL=style.css.map */