@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

// device size
$mobile: 375px;
$desktop: 1440px;

// COLORS
$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);
$white: hsl(0, 0%, 100%);
$dark-desaturated-blue: hsl(236, 21%, 26%);
$very-dark-blue1: hsl(235, 16%, 14%);
$very-dark-blue2: hsl(234, 17%, 12%);
// 	#191a24
$background-color: rgba(31, 29, 42, 255);
$card-color: rgba(44, 44, 68, 255);
//  #2c2c44
$card-height: 5rem;
// FONTS
$body-font-size: 14px;
$font-weight: 700;
$font-family: "Red Hat Text", sans-serif;

@keyframes flip-half {
  100% {
    transform: rotateX(90deg);
    transform-origin: 100% 100%;
  }
}

@keyframes flip-complete {
  100% {
    transform: rotateX(360deg);
    transform-origin: 0% 0%;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: $font-family;
}

body,
html {
  margin: 0;
}

body {
  background: $very-dark-blue1 url("../images/bg-stars.svg");
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow-x: auto !important;
  overflow-y: auto !important;
}
// HEADER START

header {
  padding: 10rem 8rem 8rem 8rem;
  text-align: center;

  h1 {
    color: white;
    font-weight: 700;
    letter-spacing: 0.6rem;
    font-size: 1.2rem;
  }
}
// HEADER END
// THE MAIN PART START
main {
  text-align: center;
  margin: 0;
}

.cards-container {
  display: flex;
  justify-content: center;
}

// a single card

.card-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  // LABEL

  p.label {
    font-size: $body-font-size;
    color: $grayish-blue;
    font-weight: 700;
    letter-spacing: 0.6rem;
    margin-top: 2rem;
  }
}
.card {
  display: inline-flex;
  flex-direction: column;
  height: 11rem;
  text-align: center;
  width: 11rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 15px 0px -2px rgba(25, 26, 36, 1);
  -moz-box-shadow: 0px 15px 0px -2px rgba(25, 26, 36, 1);
  box-shadow: 0px 15px 0px -2px rgba(25, 26, 36, 1);
  margin: auto 1rem;

  .card-up-back,
  .card-up-front,
  .card-down-back,
  .card-down-front {
    background: white;
    padding: 1.8rem 2.2rem;
    width: 100%;
    font-size: 5.5rem;
    display: flex;
    height: 50%;
    overflow: hidden;
    color: $soft-red;
    text-align: center !important;
  }
  @mixin card-up-down() {
    display: flex;
    justify-content: center;
    text-align: center !important;
  }
  .card-up-back,
  .card-up-front {
    @include card-up-down();
    align-items: flex-start;
    background: $card-color;
  }

  .card-down-back,
  .card-down-front {
    @include card-up-down();
    align-items: flex-end;
    background: $dark-desaturated-blue;
  }

  .card-up-front {
    position: absolute;
    top: 0;
    left: 0;
  }

  .card-down-front {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  // CORNER
  #left-corner {
    position: absolute;
    top: 50%;
    background: $very-dark-blue2;
    padding: 0.5rem 0.25rem;
    border-radius: 0% 100% 100% 0% / 100% 48% 52% 0%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    z-index: 1;
  }

  #right-corner {
    position: absolute;
    top: 50%;
    background: $very-dark-blue2;
    padding: 0.5rem 0.25rem;
    border-radius: 100% 0% 0% 100% / 47% 0% 100% 53%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    z-index: 1;
  }

  // APPLY ANIMATION
  .card-up-front {
    transform: rotateX(0deg);
    transform-origin: 100% 100%;
    animation: flip-half 250ms ease-in;
  }

  .card-down-front {
    transform: rotateX(270deg);
    transform-origin: 0% 0%;
    animation: flip-complete 250ms ease-out 250ms;
  }
}

// THE MAIN PART ENDS

// FOOTER START
footer {
  background: url("../images/pattern-hills.svg") no-repeat top;
  background-size: cover;
  width: 100%;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 22vh;
  text-align: center;
  padding-top: 12vh;

  // icons
  .social {
    padding: 1rem;

    &:hover {
      cursor: pointer;
      filter: invert(56%) sepia(17%) saturate(3625%) hue-rotate(308deg)
        brightness(97%) contrast(102%);
    }
  }
}
// FOOTER END

// MEDIAQUERY
@media screen and (max-width: 1200px) {
  body {
    overflow-y: auto;
  }

  header {
    padding: 6rem;
  }
}

@media screen and (max-width: 1000px) {
  header {
    padding: 5rem;

    h1 {
      font-size: 1rem;
    }
  }

  footer {
    height: 18vh;
    padding-top: 9vh;
  }
}

@media screen and (max-width: 900px) {
  .card {
    height: 8.3rem;
    width: 8.3rem;

    .card-up-back,
    .card-up-front,
    .card-down-back,
    .card-down-front {
      padding: 1.5rem 2rem !important;
      font-size: 4rem;
    }
  }
}

@media screen and (max-width: 700px) {
  header {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  footer {
    height: 18vh;
    padding-top: 9vh;
  }

  .card-container {
    p.label {
      font-size: 12px;
      letter-spacing: 0.2rem;
      margin-top: 1.5rem;
    }
  }

  .card {
    height: 7rem;
    width: 7rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 8px 0px -2px rgba(25, 26, 36, 1);
    -moz-box-shadow: 0px 8px 0px -2px rgba(25, 26, 36, 1);
    box-shadow: 0px 8px 0px -2px rgba(25, 26, 36, 1);

    .card-up-back,
    .card-up-front,
    .card-down-back,
    .card-down-front {
      padding: 1rem 1.2rem;
      font-size: 3rem;
    }
  }
}

@media screen and (max-width: 550px) {
  body {
    overflow-y: auto;
    overflow-x: auto;
  }

  .card {
    height: 7rem;
    width: 6rem;

    .card-up-back,
    .card-up-front,
    .card-down-back,
    .card-down-front {
      padding: 1rem 1.2rem;
      font-size: 3rem;
    }
  }

  footer {
    height: 20vh;
    padding-top: 10vh;
  }
}
